body{
	font-family: Times New Roman, Verdana, Arial;
	font-size: 1em;
	margin: 0;
	background-color: #EEEEEE;
	text-align:center;
}
div.t1{
	color: #414751;
	font-weight: bold;
	font-size: 1.6em;
}
div.t2{
	color: #414751;
	font-weight: bold;
	font-size: 1.2em;
}
.secondrow{
	padding-left: 1em;
	white-space: normal;
}

li{
	padding-bottom: 5px;
}
li.points {
	padding-left: 0px;
	padding-bottom: 3px;
}
#schedule{
	padding-left: 10px;
}
ul.points{
	list-style: none;
}
img#sharplogo{
	padding-left: 5px;
}
img#nistlogo{
	position: relative;
	top: 15px;
	float: right;
}
div#header{
	background-color: #E1E1E1;
}
div#content{
	padding-left: 10px;
	padding-right: 10px;
	color: #4D5460;
	text-indent: 0em;
	background-color: #FFFFFF;
}
#menu{
	text-align: left;
	margin: 0;
	background-color: #406386;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 120%;
}

#menu li{
	display: inline;
	list-style-type: none;
	padding-left: 30px;

}
#menu A:link, #menu a:visited{
	color: #FFFFFF;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}
#menu a:hover, #menu a:active{
	color: #999999;
	text-decoration: none;
	font-weight: bold;
}
div#footer{
	padding-left: 5px;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 1px;
	font-size: 1.1em;
	background-color: #294A6C;
	padding-bottom: 0em;
	height: 30px;
	color: #FFFFFF;
}

#footer a:link,#footer a:visited{
	color: #BBBBBB;
}
#wrapper{
    margin: 0 auto;
	text-align:left;
    width: 95%;
    background-color:  #EEEEEE;
	border-left-color: #444444;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #444444;
	border-right-style: solid;
	border-right-width: 1px;

}
td{
	white-space:nowrap;
	vertical-align: top;
}